<div class="well">
    {{#em-form model=model}}
        {{em-input property="pnr" label="PNR Number" placeholder="Please enter PNR Number."}}
        {{!-- {{em-input property="trainNumber" label="Last Name" placeholder="Please enter last name."}} --}}
    {{/em-form}}
</div>
